@font-face {
  font-family: "Integral";
  src: url('../fonts/IntegralCF-SemiBold.woff');
}

@font-face {
  font-family: "Gilroy";
  src: url('../fonts/Gilroy-SemiBold.ttf');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0F103F;
}

img{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#root{
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #e20ff6;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea00ff;
}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}

.section-heading h3 {
  font-family: 'Integral';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width:1024px) and (max-width: 1440px) {
  header{
    width: 98% !important;
  }

  .main-wrapper{
    width: 100% !important;
  }

  .partner-wrapper{
    width: 95% !important;
  }

  .main-heading p{
    width: 100% !important;
  }
  
  .illustration1{
    left: 0% !important;
  }
}