@font-face {
  font-family: "Integral";
  src: url('../fonts/IntegralCF-SemiBold.woff');
}

@font-face {
  font-family: "Gilroy";
  src: url('../fonts/Gilroy-SemiBold.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 300vh;
  background: #0F103F;

}

.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}