.book{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20%;
}

.book-button{
    width: 100%;
    margin-top: 16px;
    position: relative;
    left: 41%;
    top: 35px
}

.book-button p{
    position: absolute;
    top: 12px;
    left: 38px;
    z-index: 10;
    font-family: 'Integral';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.book-button svg:nth-child(1){
    position: absolute;
    top: -7px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
}

.book-button svg:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}