header {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 60px 0px;
    position: relative;
    height: 80px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    /* top: 0;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%); */
}

.logo{
    width: 220px;
    display: flex;
    align-items: center;
}

.logo img{
    cursor: pointer;
    width: 99px;
    height: 58px;
}

.logo p{
    cursor: pointer;
    margin-left: 25px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.header-menu{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
}

.header-menu ul{
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.header-menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 170px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 34px;
    margin-left: 10px;
}

.header-menu ul li:nth-child(2){
    background: #0F103F;
    box-shadow: -8px 4px 29px rgba(0, 0, 0, 0.44);
    border-radius: 34px;
}

.header-menu ul li:nth-child(2) p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 139.7%;
    /* identical to box height, or 31px */
    
    text-align: center;
    
    color: #FFFFFF;
    
}

.header-menu ul li p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 139.7%;
    text-align: center;
    color: #0F103F;
    padding-left: 15px;
    cursor: pointer;
}

.disco-ball{
    width: 650px;
    height: 650px;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -55%);
}

.disco-ball-image{
    animation-name: rotate;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.disco-ball img{
    width: 100%;
    height: 100%;
}