.main-wrapper{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px !important;
    position: relative;
    z-index: 5;
}

.main-heading{
    position: relative;
    z-index: 15;
}

.main-heading h1{
    text-align: center;
    font-family: 'Integral';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.main-heading p{
    width: 55%;
    margin: 0 auto;
    margin-top: 35px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30.73px;
    text-align: center;
    color: #FFFFFF;
}

.illustration1{
    width: 260px;
    position: absolute;
    top: 25px;
    left: 5%;
    z-index: -1;
    animation: illustration1 5s linear infinite;
}

.illustration1 img{
    width: 100%;
}

.illustration2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 18%;
    right: 15%;
    z-index: -1;
    animation: mercury 20s linear infinite;
}

.illustration2 img{
    width: 100%;
    height: 100%;
}

.social-gradient{
    width: 100%;
    display: flex;
    margin: -35% auto;
    margin-bottom: 0 !important;
    z-index: -5;
}

.social-gradient img{
    width: 100%;
    margin: 0 auto;
    filter: blur(115.135px);
}

.social-circle{
    width: 70%;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.social-circle-img{
    width: 100%;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-57%, -60%);
}

.social-shadow-img{
    width: 575px;
    height: 575px;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -30%);
    filter: blur(55px);
    z-index: -3;
}


.social-circle-text{
    width: 100%;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-52%, -50%);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.social-circle-text h3{
    font-family: 'Integral';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.social-circle-icons{
    position: relative;
    z-index: 20;
}

.social-circle-icon{
    width: 200px;
    height: 200px;
}

.social-circle-facebook-img{
    position: absolute;
    top: 0;  
    left: 0; 
    transform: translate(-5%, -100%);
    transition: 0.2s;
}

.social-circle-facebook-img:hover{
    transform: translate(-5%, -100%) scale(1.1);
}


.social-circle-youtube-img{
    position: absolute;
    top: 0;  
    left: 50%; 
    transform: translate(-74%, -135%);
    transition: 0.2s;
}

.social-circle-youtube-img:hover{
    transform: translate(-74%, -135%) scale(1.1);
}


.social-circle-instagram-img{
    position: absolute;
    top: 0%;  
    right: 0%; 
    transform: translate(-30%, -107%);
    transition: 0.2s;
}

.social-circle-instagram-img:hover{
    transform: translate(-30%, -107%) scale(1.1);
}


.social-circle-telegram-img{
    position: absolute;
    top: 100%;  
    left: 5%; 
    transform: translate(0%, 20%);
    transition: 0.2s;
}

.social-circle-telegram-img:hover{
    transform: translate(0%, 20%) scale(1.1);
}


.social-circle-twitter-img{
    position: absolute;
    top: 100%;  
    left: 40%; 
    transform: translate(-10%, 35%);
    transition: 0.2s;
}


.social-circle-twitter-img:hover{
    transform: translate(-10%, 35%) scale(1.1);
}


.social-circle-tiktok-img{
    position: absolute;
    top: 100%;  
    right: 0%; 
    transform: translate(-15%, 10%);
    transition: 0.2s;
}

.social-circle-tiktok-img:hover{
    transform: translate(-15%, 10%) scale(1.1);
}
    

.social-circle-bg-img{
    position: absolute;
    top: 50px;
    left: -45%;
}

@keyframes mercury{
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes illustration1 {
    0% {
        opacity: 1.0;
    }
    25%{
        opacity: 0.4;
    }
    50% {
        opacity: 1.0;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 1.0;
    }
}

/* .pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }

  @keyframes pulse {
    from { transform: translate(-74%, -135%) scale(0.8); }
    to { transform: translate(-74%, -135%) scale(1.2); }
  }

  .hithere {
    animation: hithere 2s ease infinite;
  }

  @keyframes hithere {
    30% { transform: translate(-10%, 35%) scale(1.2); }
    40%, 60% { transform: translate(-10%, 35%) rotate(-20deg) scale(1.2); }
    50% { transform: translate(-10%, 35%) rotate(20deg) scale(1.2); }
    70% { transform: translate(-10%, 35%) rotate(0deg) scale(1.2); }
    100% { transform: translate(-10%, 35%) scale(1); }
  }

  .gelatine {
    animation: gelatine 1s infinite;
  }
  @keyframes gelatine {
    from, to { transform: translate(0%, 20%) scale(1, 1); }
    25% { transform: translate(0%, 20%) scale(0.9, 1.1); }
    50% { transform: translate(0%, 20%) scale(1.1, 0.9); }
    75% { transform: translate(0%, 20%) scale(0.95, 1.05); }
  }



  .elastic-spin {
    animation: elastic-spin 2s infinite ease;
  }
  @keyframes elastic-spin {
    from { transform: translate(-30%, -107%) rotate(0deg); }
    to { transform: translate(-30%, -107%) rotate(720deg); }
  }
  



  .bounce2 {
    animation: bounce2 1.5s ease infinite;
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translate(-15%, 10%) translateY(0);}
      40% {transform: translate(-15%, 10%) translateY(-30px);}
      60% {transform: translate(-15%, 10%) translateY(-15px);}
  } */