.partner-wrapper{
    position: relative;
    z-index: 15;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
    /* margin-top: 40px !important; */
}

.partner-background-img{
    background-image: url('../img/Titik-titik2.png');
    width: 681px;
    height: 681px;
    background-size: contain;
    position: absolute;
    top: 10%;
    right: -30%;
}

.partner-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner-first{
    position: relative;
}

.partner-first-shadow{
    width: 575px;
    height: 575px;
    position: absolute;
    top: -25%;
    left: -15%;
    z-index: -15;
}

.partner-first-images,
.partner-second-images,
.partner-third-images{
    position: relative;
}

.partner-first-icon,
.partner-third-icon{
    width: 221;
    transition: 0.3s;
}

.parnter-second-icon{
    transform: rotate(-15deg);
    width: 221px;
    transition: 0.3s;
}

.parnter-first-img,
.parnter-second-img,
.parnter-third-img{
    position: absolute;
    top:  50%;
    left: 15%;
    z-index: 5;
}

.partner-first-bg-circle,
.partner-second-bg-circle{
    position: absolute;
    top:  63%;
    left: 28%;
}

.partner-third-bg-circle{
    position: absolute;
    top:  48%;
    left: 28%;
}


.partner-first-desc,
.partner-second-desc,
.partner-third-desc{
    margin-top: 140px;
}

.partner-first-desc h4,
.partner-second-desc h4,
.partner-third-desc h4{
    font-family: 'Integral';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.partner-first-desc p,
.partner-second-desc p,
.partner-third-desc p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 139.7%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}