.promo-wrapper{
    position: relative;
    z-index: 15;
    width: 90%;
    margin: 0 auto;
}

.promo-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.promo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15%;
}

.promo-text p{
    width: 60%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 139.7%;
    color: #FFFFFF;
}

.promo-img{
    position: relative;
    right: 5%;
}


.promo-absolute-img{
    position: absolute;
    top: 0;
    right: -25%;
}

.promo-button{
    margin-top: 16px;
    position: relative;
    transform: translateY(-280px);
}

.promo-button p{
    position: absolute;
    top: 12px;
    left: 38px;
    z-index: 10;
    font-family: 'Integral';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.promo-button svg:nth-child(1){
    position: absolute;
    top: -7px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
}

.promo-button svg:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 280px) and (max-width:1024px) {
    .promo-wrapper{
        margin-bottom: 50%;
    }

    .promo-container{
        flex-direction: column;
    }

    .promo-img{
        order: -1;
        margin-top: 40px;
    }

    .promo-absolute-img{
        width: 80%;
        right: -10%;
    }

    .promo-text p{
        margin-top: 40px;
        width: 100%;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 139.7%;
    }

    .promo-button{
        transform: translateY(-20px);
    }

    .promo-img img:nth-child(1){
        width: 100%;
    }

    .promo-button svg{
        width: 380px !important;
    }

    .promo-button p{
        left: 105px;
    }
}