.table-wrapper{
    position: relative;
    z-index: 15;
    width: 90%;
    margin: 0 auto;
    margin-top: -70px;
}

.table-tools{
    margin: 0 7.5%;
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.table-volume-select{
    position: relative;
    width: 140px;
    height: 54px;
    display: flex;
    align-items: center;
    padding: 13px;
    background: #1B1C53;
    border: 1.16667px solid #4A4CA8;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16.3333px;
    line-height: 19px;
    color: #FFFFFF;
}

.table-volume-select p{
    padding-right: 46px;
}


.MuiOutlinedInput-notchedOutline{
    border: none !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: #FFF !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'Gilroy' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    color: #BDBDBD !important;
}

.css-1ftyaf0 span{      
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16.3333px;
    line-height: 19px;
    color: #BDBDBD;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    background: #1B1C53;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input  {
    color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: #4245D7 !important;
}








.table-platform-select{
    position: relative;
    width: 256px;
    height: 54px;
    margin-left: 15px;
    padding: 13px;
    display: flex;
    align-items: center;
    background: #1B1C53;
    border: 1.16667px solid #4A4CA8;
    box-sizing: border-box;
    border-radius: 12px;
}

.table-platform-dropdown{
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    width: 253px;
    padding: 12px;
    background: #1B1C53;
    height: 123px;
    position: absolute;
    top: 53px;
    left: 0;
    border-radius: 12px;
    z-index: 20;
}

.platform-dropdown-first{
    margin-bottom: 10px;
}

.platform-dropdown-first,
.platform-dropdown-second{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.platform-dropdown-first div,
.platform-dropdown-second div{
    display: flex;
    align-items: center;
}

.platform-dropdown-second div p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 16px;
}

.platform-dropdown-first div svg,
.platform-dropdown-second div svg{
    width: 30px;
    height: 30px;
}

.platform-dropdown-first div svg:nth-child(1),
.platform-dropdown-second div svg:nth-child(1){
    margin-right: 16px;
    cursor: pointer;
}



.table-platform-select svg:nth-child(2){
    transform: translateX(-10px);
}

.table-platform-select svg:nth-child(3){
    transform: translateX(-20px);
    /* margin-right: 132.17px; */
}

.table-range-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16.3333px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 35px 0 16px;
}

.table-range-container{
    display: flex;
    align-items: center;
}

.table-range-first,
.table-range-second{
    width: 100px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.table-range-first input,
.table-range-second input{
    text-align: center;
    width: 100px;
    padding: 12px;
    background: #1B1C53;
    border: 1px solid #4A4CA8;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 15.33px;
    line-height: 18px;
    color: #FFFFFF;
}

.table-range-to{
    margin: 0 14px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15.33px;
    line-height: 18px;
    color: #4245D7;
}

.table-range-mui{
    margin-top: 14px;
}

.table-pagination{
    margin-top: 40px !important;
    margin-bottom: 20% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root{
    color: white !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    /* left: 140px !important; */
    border-radius: 12px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    padding: 6px 40px !important
}

.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.css-p0rm37,
#demo-simple-select-label{
    color: #BDBDBD !important;
}

.table-platform-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform-text{
    cursor: pointer;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16.3333px;
    line-height: 19px;
    color: #BDBDBD;
    margin-right: 133px;
}

.bottom-arrow{
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (min-width: 280px) and (max-width:1024px) {
    .table-wrapper{
        display: none;
    }
}